/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-toolbar { background-color: #3f51b5 !important; color: #fff !important; }
.cl-width-100 { width: 100% }
.cl-width-90 { width: 90% }
.cl-width-80 { width: 80% }
.cl-width-70 { width: 70% }
.cl-width-60 { width: 60% }
.cl-width-50 { width: 50% }
.cl-width-40 { width: 40% }
.cl-width-30 { width: 30% }
.cl-width-20 { width: 20% }
.cl-width-10 { width: 10% }
.button-row { padding: 10px;  text-align: right; }
.button-row button, .button-row a {  margin-right: 8px; }
.table-data:nth-child(even) { background-color: #4d62da5e; }
.table-data:nth-child(odd) { background-color: #fff; }
.td-align-left { text-align: left; padding-left: 5px; }
.td-align-center { text-align: center; }